
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #005A9C;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    margin-top: 20px;
}

.control-panel, .book-shop {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    flex-grow: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.control-panel {
    max-width: 40%;
}

.book-shop {
    max-width: 60%;
}

input[type="text"], input[type="number"], button {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 24px);
}

button {
    background-color: #005A9C;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #003d73;
}

@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .control-panel, .book-shop {
        max-width: 100%;
    }
}
